In [75]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold, StratifiedKFold, RandomizedSearchCV
from xgboost.sklearn import XGBRegressor
from math import sqrt
df = pd.read_csv("./desktop/AIRB_NYC_2019.csv")
df['neighbourhood_group'].replace(('Brooklyn', 'Manhattan','Queens','Staten Island','Bronx'), (1,2,3,4,5), inplace=True)
df['room_type'].replace(('Private room', 'Entire home/apt','Shared room'), (1,2,3), inplace=True)
X=df.drop(['id','name','host_id','host_name','last_review','price','neighbourhood',],axis=1)
X['reviews_per_month'] = X['reviews_per_month'].fillna(0)
#y1=df['price']
from sklearn import preprocessing
scaler  = preprocessing.StandardScaler()
X_scaled = scaler.fit(X.values)
X= X_scaled.transform(X.values)
print(X)

df=df.drop(['id','name','host_id','host_name','last_review','neighbourhood'],axis=1)

[[-0.93194198 -1.4938492  -0.43765209 ... -0.55151094 -0.03471643
   1.91625031]
 [ 0.2523626   0.45243602 -0.68463915 ... -0.4450791  -0.15610444
   1.84027456]
 [ 0.2523626   1.46839948  0.22249666 ... -0.68298556 -0.18645145
   1.91625031]
 ...
 [ 0.2523626   1.57348017  0.07582101 ... -0.68298556 -0.18645145
  -0.65173008]
 [ 0.2523626   0.52377353 -0.84388081 ... -0.68298556 -0.03471643
  -0.84166946]
 [ 0.2523626   0.64352518 -0.8050995  ... -0.68298556 -0.18645145
  -0.68212038]]

In [52]:
df.head()

,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,1,40.64749,-73.97237,1,149,1,9,0.21,6,365
1,2,40.75362,-73.98377,2,225,1,45,0.38,2,355
2,2,40.80902,-73.94190,1,150,3,0,NaN,1,365
3,1,40.68514,-73.95976,2,89,1,270,4.64,1,194
4,2,40.79851,-73.94399,2,80,10,9,0.10,1,0

In [77]:
#df=df.drop(['id','name','host_id','host_name','last_review','neighbourhood'],axis=1)
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
from sklearn import preprocessing
scaler  = preprocessing.StandardScaler()
df_scaled = scaler.fit(df)
df1=df_scaled.transform(df)
df1=pd.DataFrame(df1)
y=df1[4]
y=y.values
X.shape
y.shape

(48895,)

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print('Dimensions of the training feature matrix: {}'.format(X_train.shape))
print('Dimensions of the training target vector: {}'.format(y_train.shape))
print('Dimensions of the test feature matrix: {}'.format(X_test.shape))
print('Dimensions of the test target vector: {}'.format(y_test.shape))

Dimensions of the training feature matrix: (39116, 9)
Dimensions of the training target vector: (39116,)
Dimensions of the test feature matrix: (9779, 9)
Dimensions of the test target vector: (9779,)

In [79]:
model = XGBRegressor()              
model.fit(X_train,y_train)            
y_pred = model.predict(X_test)
y_pred.shape
print(y_pred)
#max_depth=5, learning_rate=0.1, n_estimators=160, silent=True, objective='multi:softmax'

[15:53:00] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[ 0.02953801 -0.4774688  -0.1424442  ... -0.35279745  0.43230358
  0.3355024 ]

In [80]:
#for n in range(9779):
    #sum= sum+(y_pred[n]-y_test[n])
#Mse= sqrt(sum**2/9779)
#print(Mse)
model.score(X_test, y_test)

0.1592232637015356

In [81]:
np.std(y)

1.0

In [7]:
from bs4 import BeautifulSoup
#from urllib import requests
import requests
start_url_nyc = "https://www.airbnb.com/s/New-York--NY--United-States"
rsp = requests.get(start_url_nyc)
soup = BeautifulSoup(rsp.text, 'html.parser')
divs = soup.find_all('div', {"class":"thumb-pic"})
print(divs)

[]